[submodule "Drivers/boryviter_sm"]
	path = Drivers/boryviter_sm
	url = https://github.com/bazhen-paseka/boryviter_sm.git
[submodule "Drivers/bh1750_sm"]
	path = Drivers/bh1750_sm
	url = https://github.com/bazhen-paseka/bh1750_sm.git
